.header {
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 9999 !important;
    pointer-events: all;

    .menu {
        position: relative;
        width: 480px;
        height: 650px;
        background-color: #8cacfc;
        border-radius: 25px;
    }
}