/* page.module.css */

.main {
  .mask p,
  .body p {
    width: 100%;
  }
  .mask span,
  .body span {
    color: #32adf0;
  }
  .mask {
    position: absolute;
    -webkit-mask-image: url("../../../public/mask.svg");
    mask-image: url("../../../public/mask.svg");
    background: #32adf0;
    mask-repeat: no-repeat;
    mask-size: 50px;
    color: black;
  }
}
